body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #240A34;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.card > .question p {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-yes, .btn-no {
    height: 48px;
    width: 100px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-yes {
    background-color: #B784B7;
}

.btn-no {
    background-color: #EEA5A6;
    color: #fff;
}

